.top-section {
    background-image: url('../../Images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 150px;
}

.orange-text {
    color: orange;
}
.gray-text {
    color: gray;
}

