.top-padding {
    padding-top: 30px;
    margin-bottom: 50px;
    
}
.link {
    color: white;
    padding-right: 5px;
    padding-bottom: 10px;
}
.link:hover {
    color: lightgray;
    text-decoration: none;
}
.bold {
    font-weight: 700;
}
.copyright-text {
    color: gray;
    padding-bottom: 5px;
}
.large-font {
    font-size: larger;
}
.mt-20 {
    margin-top: 20px;
}