.top-background-img {
    background-image: url('./Images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');
    height:60vh;
    min-height:400px;
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(43, 255, 0);
    padding-top: 150px;
}

.pt-150 {
    padding-top: 150px;
}