.payment-page input {
    width: 100%;
    display: block;
    height: 40px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.payment-page .row {
    margin-top: 20px;
   }
.credit-card-section, .paypal-section {
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 20px;
    padding: 40px;
}
.payment-page {
    margin-top: 60px;
}